extends layout

block content
  
  #{allocation}
  
  #{count}
  
  #{fieldData}
  
  #{health}
  
  #{indices}
  
  #{master}
  
  #{nodeattrs}
  
  #{nodes}
  
  #{pendingTasks}
  
  #{plugins}
  
  #{recovery}
  
  #{repositories}
  
  #{threadPool}
  
  #{shards}
  
  #{segments}
